<h1>User categories</h1>

<!--<select type="string" [(ngModel)]="selectedValue">-->
    <!--<option *ngFor="let cat of diffCategoriesArray" [ngValue]="cat">{{cat.categoryName}}</option>-->
<!--</select>-->


<p-autoComplete [(ngModel)]="userCategories" [suggestions]="otherCategories" (completeMethod)="filterCategoriesMultiple($event)"
                styleClass="wid100" (onSelect)="addCategoryToUser($event)" (onUnselect)="removeCategoryFromUser($event)"
                [minLength]="1" placeholder="categories" field="categoryName" [multiple]="true">
</p-autoComplete>

<div class="form-group" (click)="saveChanges()">
    <button class="btn btn-primary">Submit</button>
</div>

<div class="form-group" (click)="compute()">
    <button class="btn btn-primary">Compute</button>
</div>
<p-growl [value]="msgs" life="3000"></p-growl>





